[submodule "themes/andromeda-light"]
	path = themes/andromeda-light
	url = git@github.com:gethugothemes/andromeda-light.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
